version: '3.8'

services:
  web_clipper:
    image: ghcr.io/goxofy/web_clipper:latest
    container_name: web_clipper_server
    ports:
      - "65331:65331"
    volumes:
      - ./uploads:/app/uploads
    restart: unless-stopped
    environment:
      # Server Config
      - HOST=0.0.0.0
      - PORT=65331
      
      # GitHub Config
      - GITHUB_REPO=your_github_name/your_github_repo
      - GITHUB_TOKEN=your_github_token
      - GITHUB_PAGES_DOMAIN=your_github_pages_domain
      
      # Notion Config
      - NOTION_DATABASE_ID=notion_database_id
      - NOTION_TOKEN=notion_token
      
      # Telegram Config
      - TELEGRAM_TOKEN=telegram_token
      - TELEGRAM_CHAT_ID=telegram_chat_id
      
      # OpenAI Config
      - OPENAI_API_KEY=your_openai_api_key
      - OPENAI_BASE_URL=https://api.openai.com/v1
      - OPENAI_MODEL=gpt-4o-mini
      - OPENAI_MAX_RETRIES=3
      
      # App Config
      - API_KEY=your_api_key
      - MAX_FILE_SIZE=31457280
      - ALLOWED_EXTENSIONS=.html,.htm
      - GITHUB_PAGES_MAX_RETRIES=60
